.createTask {
   border: 1px solid white;
   padding: 1em;
   display: flex;
   flex-wrap: nowrap;
}

.text {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
   display: flex;
   flex-wrap: wrap;
   max-height: 80vh;
   overflow-y: scroll;
}

.listItem {
   list-style-type: none;
   width: fit-content;
   padding: 1em;
   width: 100%;
}

.container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   min-height: 6em;
   max-height: 90vh;
}

.containerItem {
   border: 1px solid white;
   border-radius: 5px;
   width: 30%;
   margin: 1%;
}