.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--bg-container);
}

.containerItem {
   width: calc(100% - 1.5em);
   border: 1px solid var(--border-container);
   box-shadow: 3px 3px 5px 0px var(--shadow-container);
   background-color: var(--bg-container);
   border-radius: 10px;
   margin: 0.8em 1.5em;
}