.title {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 1em;
   margin: 0;
   align-items: center;
}

.container {
   display: flex;
   height: 100vh;
   background-color: var(--bg-container);
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: flex-start;
}

.containerItem {
   width: calc(100% - 1em);
   max-height: 80vh;
   border: 1px solid var(--border-container);
   box-shadow: 3px 3px 5px 0px var(--shadow-container);
   background-color: var(--bg-container);
   border-radius: 10px;
   margin: 0.8em 1.5em;
}

/* Medium display */
@media (min-width: 768px) {
   .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-evenly;
   }

   .containerItem {
      width: calc(30% - 1.5em);
      margin: 0.8em 1.5em;
   }
}