.title {
   font-family: var(--font-family);
   font-size: 2em;
   margin: 1em 0;
   text-align: center;
}

/* Medium display */
@media (min-width: 768px) {
   .title {
      font-size: 2.5em;
   }
}

/* Large display */
@media (min-width:1200px) {
   .title {
      font-size: 3em;
   }
}