.input {
   font-family: var(--font-family);
   font-weight: bold;
   border: 2px solid var(--border-input);
}

.input::placeholder {
   color: var(--text-gray);
}

/* Medium display */
@media all and (min-width: 765px) {
   .input {
      font-size: 1.5em;
   }
}