.counter {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.pill {
   border: 2px solid var(--border-btn-pill);
   padding: 0.2em 0.5em;
   margin: 0 -0.1em 1em -0.1em;
}

.counter>:nth-child(1) {
   border-radius: 20px 0 0 20px;
}

.counter>:nth-child(2) {
   border-radius: 0 20px 20px 0;
}