.button {
   font-family: var(--font-family);
   font-weight: 700;
   background-color: var(--bg-btn-pill);
   border: 1px solid var(--border-btn-pill);
   width: 6em;
   height: 2.5em;
}

/* Medium display */
@media all and (min-width: 765px) {
   .button {
      font-size: 1.2em;
      height: 2.6em;
   }
}