.container,
.input,
.btn {
   padding: 0.5em;
}

.container {
   display: flex;
   width: 100%;
   align-items: center;
}

.input {
   width: calc(100% - 60px);
   border-radius: 20px 0 0 20px;
}

.btn {
   border-radius: 0 20px 20px 0;
}

/* Medium display */
@media (min-width: 768px) {

   .input,
   .btn {
      font-size: 1em;
   }
}

/* Large display */
@media (min-width: 1200px) {

   .input,
   .btn {
      font-size: 1.5em;
   }
}